.first{
display:flex;
justify-content:space-between;
}

.red{
    line-height:70px;
    padding:10px;
}
main>a{
margin:40px;
text-decoration:none;

}
body{
background-color:#0a192f;
}
main>a{
color:white;
}