#work9{
padding-left:550px;
}
#work1{
    padding-left:450px;
    height:30px;
    color:white;
    font-size:20px;
}

.work4{
   height:130px;
   width:150px;
   margin:5px;
   font-size:30px;
   color:white;
   padding-left:2px;
   display:flex;
   align-items:center;
   justify-content:center;
   border:2px solid black;
   background-color:black;
}
.work3{
display:grid;
grid-template-columns: 160px 160px 160px;
padding-left:400px;
}
.work4:hover{
background-color:blue;
}